---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import { getLangFromUrl } from "../i18n/utils";
import CookieConsent from '../components/CookieConsent.jsx';
import { getI18N } from '../i18n';

const { description, title } = Astro.props;
const currentLocale = getLangFromUrl(Astro.url);
const i18n = getI18N({ currentLocale });
---

<!doctype html>
<html lang={currentLocale} data-theme="night">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="manifest" href="/manifest.json">

    <title>{title}</title>
</head>
<body class="flex flex-col min-h-screen">
    <Navbar />
    <div class="w-full max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
        <slot />
        <CookieConsent client:load currentLocale={currentLocale} />
    </div>
    <Footer />
</body>
</html>
<style is:global>
:root {
  --my-color: #fff;
  /* or any other variables/style */
}
[data-theme='dark'] {
  --my-color: #000;
}
[data-theme='light'] {
  --my-color: #ffabc8;
}
</style>
<script>
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', () => {
      navigator.serviceWorker.register('/sw.js').then(registration => {
        console.log('Service Worker registrado con éxito');
      }).catch(err => {
        console.log('Registro de Service Worker fallido:', err);
      });
    });
  }
</script>
